@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

//height
$header-height: 2.5rem;


// Font Variables
$Cairo_FONT: 'Cairo', sans-serif;
$Cairo_FONT_Weight_normal: 400;
$Cairo_FONT_Weight_semi-bold: 600;
$Cairo_FONT_Weight_bold: 700;
$h1_font_size: 1.5rem;
$h2_font_size: 1.25rem;
$h3_font_size: 1rem;
$h4_font_size: .75rem;

$normal_font_size: 1rem;

// Text Colors
$title_color: #000000;
$text_color: #3c3a3a;
$text_color_light: #2f5d00;

// Colors
$body-color: #e5e5e5;
$left-color: linear-gradient(180deg, rgb(183, 181, 181) 0%, rgba(217, 216, 216, 1) 63%, rgba(199, 198, 198, 1) 100%);
$right-color: linear-gradient(0deg, rgb(183, 181, 181) 0%, rgba(217, 216, 216, 1) 35%, rgba(226, 226, 226, 1) 100%);  ;


// Z index
$z-fixed: 100;
$z-tooltip: 10;


//Image Size
$large-image: 7rem;
$small-image: 1rem;