@import "src/styles/config";


.mainContent {

  margin-bottom: $header-height;

  //mobile only style
  grid-template-areas: "left""right";
  gap: .3rem;
  //end of mobile only style

  //pc only style
  @media (min-width: 786px) {
    grid-template-areas: "left right";
    grid-template-columns: 25vw 1fr;
    gap: 2rem;
  }

  @media (min-width: 2560px) {
    grid-template-areas: "left right";
    grid-template-columns: 10vw 1fr;

  }
  //end of pc only style

  &__left {
    padding: 2rem;
    grid-area: left;
    background: $left-color;
    box-shadow: 3px 0px 6px 3px #cccccc;

    @media (max-width: 786px) {
      min-height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }


    &__aboutMe {
      @media (min-width: 786px) {
        margin-bottom: 5rem;
      }
    }
  }

  &__right {

    padding: 2rem;
    grid-area: right;
    background: $right-color;
    box-shadow: 3px 0px 6px 3px #cccccc;
  }

}