@import "src/styles/config";

.section {

  //mobile + pc

  margin-top: 2rem;

  // end of mobile + pc


  //mobile only style
  align-items: center;
  justify-content: center;

  //end of mobile only style

  //pc only style
  @media (min-width: 786px) {
    align-items: flex-start;
    justify-content: flex-start;

  }
  //end of pc only style

  &__title {
    margin-bottom: 1rem;
    color: black;
    font-size: $h1_font_size;
    text-decoration: underline;
    white-space: nowrap;

    transition: .2s ease-in;
    &:hover {
      text-shadow:  0px 1px 2px #444444;
    }

    @media (min-width: 300px) and (max-width: 425px) {
      /* Minimum font size */
      font-size: 7vw;
    }

  }

  &__links {

  }


  &__articleText {


    //mobile + pc

    text-align: center;


    // end of mobile + pc


    //mobile only style
    width: 90%;
    //end of mobile only style


    //pc only style
    @media (min-width: 786px) {
      text-align: left;
      width: 100%;

    }
    //end of pc only style


  }

}