@import "src/styles/config";


*,*::before,::after{
  box-sizing: border-box;
}

body {

  margin: 0;
  padding: 0;
  font-family: $Cairo_FONT;
  font-weight: normal;

  font-size: $normal_font_size;
  background: linear-gradient(-45deg, #807479, #dae2e3, #8a918f);
  background-size: 400% 400%;
  animation: gradient 10s ease-in-out infinite;
  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: $Cairo_FONT;
  font-weight: $Cairo_FONT_Weight_bold;
  color: $title_color;
}

h1{
  font-size: $h1_font_size;
}

h2{
  font-size: $h2_font_size;
}

h3{
  font-size: $h3_font_size;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: $text_color;
}


img{
  max-width: 100%;
  height: auto;
}




@import "src/styles/header";
@import "src/styles/contact";
@import "src/styles/commonClasses";
@import "src/styles/section";
@import "src/styles/skills";
@import "src/styles/mainContent";

