# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\majdee\OneDrive\prpogramming projects\ibtehalamro cv using react js scss\IbtehalAmroResumee\ibtehalresumee\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
